.menu-autohide > td >.rowOptions {
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu-autohide:hover > td > .rowOptions {
    opacity:1.0;
    filter:alpha(opacity=100);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.editForm {
    padding: 10px;
    background-color: #B7C7E8;
}

.well-sm {
    background-color: #6A7487;
}

.table .nestedTbl {
    margin-bottom: 0px;
    background-color: inherit;
}

.table .nestedTbl td {
    border-top: none;
}

.table > tbody > tr:hover {
    background-color: #E6E6FA;
}

.nestedTbl > tbody > tr:hover {
    background-color: #CFCFE1;
}
