{
    "rules": {
        "indent": [
            1,
            4
        ],
        "quotes": [
            0,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-undef": [
            0
        ],
        "comma-dangle": [
            2,
            "always-multiline"
        ],
        "no-console": [
            0
        ],
        "no-unused-vars": [
            2,
            {"vars": "all", "args": "none"}
        ]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    },
    "plugins": []
}
