.env
*settings.json
*.py[co]

bin/*local.sh
src/node_modules/*

# data (keep path, not contents)
data/*
!data/.gitkeep

# meteor (keep path, not contents)
compose/meteor/src/*
!compose/meteor/src/.gitkeep

# nginx (keep path, not contents)
compose/nginx/ssl/*
!compose/nginx/ssl/.gitkeep

# nginx (keep path, not contents)
compose/nginx/conf/*
!compose/nginx/conf/.gitkeep
