/*
 * Menu auto-hide functionality
 */
.menu-autohide > td >.rowOptions,
.menu-autohide > .rowOptions {
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu-autohide:hover > td > .rowOptions,
.menu-autohide:hover > .rowOptions {
    opacity:1.0;
    filter:alpha(opacity=100);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.rowOptions > .btn {
  line-height: 0.95;  /* required for mechanistic data for pulldowns to not overlap*/
}

/*
 * Edit options form
 */
.editForm {
    padding: 10px;
    background-color: #B7C7E8;
}

.well-sm {
    background-color: #6A7487;
}

#editingRow {
    border: 5px solid #6A7487;
    background-color: #E6E6FA;
}

/*
 * Table visualization
 */
.evidenceTable > tbody > tr:hover {
    background-color: #E6E6FA;
}

.nestedTbl > tbody > tr:hover {
    background-color: #CFCFE1;
}

.evidenceTable .nestedTbl {
    margin-bottom: 0;
    background-color: inherit;
}

.evidenceTable .nestedTbl td {
    border-top: none;
}

.hiddenRow {
    color: gray;
    background-color: #eee;
}

/*
 * Twitter typeahead.js
 */
.twitter-typeahead {
    display: block!important;
}

.tt-query,
.tt-hint {

  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}


.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 3px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

/*
 * Multi-select list setting
 */
 .selectListItem {
    line-height: 1.65;
    padding: 3px;
    border: 2px solid transparent;
}

a.selectListRemove {
    display: none;
}

.selectListItem:hover {
    border: 2px solid #6A7487;
    background-color: rgba(255,255,0,0.25);
}

.selectListItem:hover > a {
    display: inline;
}

/*
 * Risk SVG
 */
.epiRiskPlot {
    width:100%;
    height:100%;
    top:0;left:0;bottom:0;right:0;
}

.epiRiskPlot circle {
    fill: black;
    cursor: pointer;
}

.epiRiskPlot line {
    stroke: black;
    stroke-width: 2;
    cursor: pointer;
}

.riskBar:hover circle {
  fill: red;
}

.riskBar:hover line {
  stroke: red;
}

/*
 * Loading spinner
 * http://stackoverflow.com/questions/14859322/
 */
.spinner {
  opacity: 0;
}

.spinner-active {
  opacity: 1;
  -webkit-animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/*
 * Plot axis details
 */
.epiRiskAxes {
    position: absolute;
    pointer-events: none;
}

g.gridlines > line {
  stroke: #b3b3b3;
}

g.gridlines > .major {
  stroke-width: 1px;
}

g.gridlines > .minor {
  stroke-width: 0.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
}

.axis text {
  font-size: 10px;
}

/*
 * Mechanistic evidence styles
 */

.accordian {
/*  margin-right: 2px;
  margin-bottom: 2px;*/
}

.accordianHeader {
  cursor: pointer;
}

.accordianHeader:hover {
  background-color: #efefef
}

/* Comma-seperated list */
.comma-list { list-style-type: none }
.comma-list > li { display: inline }
.comma-list > li:after { content: ", " }
.comma-list > li:last-child:after { content: "" }

.evidenceStream {
  width: 250px;
  margin-right:25px;
}

.evidenceStream td,th{
  text-align: center;
}

.evidenceExpanded {
  background: rgba(180, 180, 180, 0.2);
}

.evidenceExpanded > .accordianHeader{
  background-color: #ccc
}
